# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Known Accevo files that should always be ignored
log.xml

#Visual Studio 2010 files and directories
*.user
*.sdf
Debug/
Release/
x86/
x64/
ipch/
